leame*
target*
contracts/kmac*/target
contracts/mar*
contracts/kmac1a
contracts/kmac1
contracts/kmac2/target*
contracts/kmac2/bk*
contracts/kmac2/test*
contracts/kmac2/Cargo.lock
borrador*
.soroban
bkdesa*
bksync*
bktest


